.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-width-rectangle {
  width: 100%;
  border-radius: 0; /* Make it rectangle */
  text-align: left;  /* Align text to the left */
  padding: 10px; /* Adjust padding as necessary */
}

.language-name {
  flex-grow: 1; /* Takes up all available space */
}

.flag-image {
  position: absolute;
  left: 10px; /* Adjust this to position flag */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure flag stays behind text */
}

.notify-item {
  display: flex;
  align-items: center;
}

.notify-item .flag-image {
  margin-right: 8px;
}

